{% extends 'base.html' %}

{% block contents%}
<form method="POST" action="{% url 'notepad:edit' note.pk %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">제목</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력해주세요" name="title" value="{{ note.title }}">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">내용</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content">{{ note.content }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">작성 완료</button>
</form>
{% endblock %}